/.idea/
/.htaccess
/robots.txt
/.deploy
/local/modules/citfact.tools/constants.php

/bitrix/*
!bitrix/modules/
bitrix/modules/*
!bitrix/modules/ipol.sdek/
bitrix/modules/ipol.sdek/*
!bitrix/modules/ipol.sdek/classes
bitrix/modules/ipol.sdek/classes/*
!bitrix/modules/ipol.sdek/classes/lib/

/upload
/include/php/fileupload/files
node_modules
/m
/test
/test_catalog
/www
local/logs
local/var/logs
local/var/lockfiles
/ftp_loader/product_images
/ftp_loader/product_images*
/ftp_loader/tmp
/ftp_loader/*.zip
/ftp_loader/*.z*
README.md
*.gz
google*
yandex*
/potokin/
bx_1c_import.php
test.php
/vendor
build/
/local/templates/paoloconte/scripts.js
/local/templates/paoloconte/template_styles.css
/local/templates/paoloconte/build
/local/templates/paoloconte_mobile/scripts.js
/local/templates/paoloconte_mobile/template_styles.css
/bitrix/js/ipol.sdek/errorLog.txt
*.log
*.txt
*.xml
*.doc
*.docx
sym
!local/php_interface/include/catalog_export/*