.catalog-tags{
    margin: 80px 0 0;
}

.catalog-tags__title{
    font-family: 'Playfair Display','Open Sans',Arial;
    font-size: 18px;
    letter-spacing: normal;
    text-transform: uppercase;
    margin-bottom: 17px;
}

.catalog-tags__tags{
    display: flex;
    flex-wrap:wrap;
}
.catalog-tags__tag-item{
    margin-right: 40px;
}

.catalog-tags__tag-name{
    text-transform: uppercase;
    font-weight: 300;
    color: #191818;
    text-decoration: none;
    -webkit-transition: color .2s;
    transition: color .2s;
    letter-spacing: 0.045em;
}

@media only screen and (max-width:600px){
    .catalog-tags__tag-item {
        margin-right: 20px;
    }
}